<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<div th:replace="site/head::head(${commons.site_title()},${commons.google_site_verification()}, ${commons.baidu_site_verification()})"></div>
<body>
<div id="home">
    <!-- header -->
    <div th:replace="site/header::header"></div>
    <!-- header -->

    <!-- main -->
    <div id="main">
        <div id="mainContent">
            <div class="forFlow">
                <h1 class="postTitle">
                    <a id="cb_post_title_url" class="postTitle2" th:href="'blog/article/'+${article.aid}" th:text="${article.title}"></a>
                </h1>
                <div class="clear"></div>
                <div class="postBody">
                    <th:block th:utext="${article.content}"></th:block>
                </div>
            </div><!--end: forFlow -->
        </div><!--end: mainContent 主体内容容器-->

        <div th:replace="site/left-sidebar"></div>
        <div class="clear"></div>
    </div>

    <!-- footer -->
    <div th:replace="site/footer::footer(${commons.site_title()},${commons.site_record()},${commons.site_url()})"></div>
</div>
</body>
<div th:replace="common/tale_comment::tale_comment"></div>
</html>