<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 文章类别信息映射 -->
<mapper namespace="com.jax.blog.dao.ArticleTypeDAO">
    <resultMap id="ArticleTypeResultMap" type="com.jax.blog.model.ArticleType">
        <id property="id" column="id"/>
        <result property="typename" column="typename"/>
        <result property="orderNum" column="orderNum"/>
        <result property="description" column="description"/>
        <result property="parentid" column="parentid"/>
    </resultMap>

    <sql id="BASE_TABLE">
        t_articletype
    </sql>

    <sql id="BASE_COLUMN">
        a.id, a.typename, a.orderNum, a.description, a.parentid,
    </sql>

    <select id="queryArticleTypeList" resultMap="ArticleTypeResultMap">
        SELECT
        <trim suffix="" suffixOverrides=",">
            <include refid="BASE_COLUMN"></include>
        </trim>
        FROM <include refid="BASE_TABLE"></include> AS a
    </select>

    <insert id="addArticleType">
        INSERT INTO <include refid="BASE_TABLE"></include>
    </insert>

    <update id="updateArticleType">
        UPDATE <include refid="BASE_TABLE"></include>
        <set>

        </set>
    </update>

    <delete id="deleteArticleType">
        DELETE FROM <include refid="BASE_RABLE"></include>
        WHERE id=#{id}
    </delete>
</mapper>