<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 文章信息映射 -->
<mapper namespace="com.jax.blog.dao.ArticleDAO">

    <sql id="BASE_TABLE">
        t_article
    </sql>

    <sql id="BASE_COLUMN">
        a.aid, a.title, a.titlePic, a.slug, a.created, a.modified, a.content, a.typeid, a.type, a.status,
        a.tags, a.categories, a.hits, a.commentsNum, a.isAllowComment
    </sql>

    <!-- 查询所有文章 -->
    <select id="queryArticleList" resultType="com.jax.blog.model.Article">
        SELECT
        <trim suffix="" suffixOverrides=",">
            <include refid="BASE_COLUMN"></include>
        </trim>
        FROM <include refid="BASE_TABLE"></include> AS a
    </select>

    <!-- 根据id查询文章 -->
    <select id="queryArticleById" resultType="com.jax.blog.model.Article">
        SELECT
        <trim suffix="" suffixOverrides=",">
            <include refid="BASE_COLUMN"></include>
        </trim>
        FROM <include refid="BASE_TABLE"></include> AS a
        WHERE aid = #{aid}
    </select>

    <!-- 添加文章 -->
    <insert id="addArticle">
        INSERT INTO <include refid="BASE_TABLE"></include>
    </insert>

    <!-- 更新文章 -->
    <update id="updateArticle">
        UPDATE <include refid="BASE_TABLE"></include>
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="titlePic != null and titlePic != ''">
                titlePic = #{titlePic},
            </if>
            <if test="slug != null and slug != ''">
                slug = #{slug},
            </if>
            <if test="created != null and created != ''">
                created = #{created},
            </if>
            <if test="modified != null and modified != ''">
                modified = #{modified},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="typeid != null and typeid != ''">
                typeid = #{typeid},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="tags != null and tags != ''">
                tags = #{tags},
            </if>
            <if test="categories != null and categories != ''">
                categories = #{categories},
            </if>
            <if test="hits != null and hits != ''">
                hits = #{hits},
            </if>
            <if test="commentsNum != null and commentsNum != ''">
                commentsNum = #{commentsNum},
            </if>
            <if test="isAllowComment != null and isAllowComment != ''">
                isAllowComment = #{isAllowComment},
            </if>
        </set>
        WHERE aid = #{aid}
    </update>

    <!-- 删除文章 -->
    <delete id="deleteArticle">
        DELETE FROM <include refid="BASE_TABLE"></include> WHERE aid = #{aid}
    </delete>

    <delete id="batchDeleteArticles">
        DELETE FROM <include refid="BASE_TABLE"></include> WHERE aid IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>