<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 友情链接映射 -->
<mapper namespace="com.jax.blog.dao.LinkDAO">
    <resultMap id="LinkResultMap" type="com.jax.blog.model.Link">
        <id property="id" column="id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="BASE_TABLE">
        t_link
    </sql>

    <sql id="BASE_COLUMN">
        a.id, a.name, a.url
    </sql>

    <!-- 查询友链信息 -->
    <select id="queryLink" resultMap="LinkResultMap">
        SELECT
        <trim suffix="" suffixOverrides=",">
            <include refid="BASE_COLUMN"></include>
        </trim>
        FROM <include refid="BASE_TABLE"></include> AS a
    </select>

    <!-- 添加友链 -->
    <insert id="addLink">
        INSERT INTO <include refid="BASE_TABLE"></include>
    </insert>

    <!-- 修改友链 -->
    <update id="updateLink">
        UPDATE <include refid="BASE_TABLE"></include>
        <set>

        </set>
        WHERE id = #{id}
    </update>

    <!-- 删除友链 -->
    <delete id="deleteLink">
        DELETE FROM <include refid="BASE_TABLE"></include>
        WHERE id = #{id}
    </delete>
</mapper>