<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 标签信息映射 -->
<mapper namespace="com.jax.blog.dao.TagDAO">
    <resultMap id="TagResultMap" type="com.jax.blog.model.Tag">
        <id property="tid" column="tid"/>
        <result property="tagName" column="tagName"/>
        <result property="popular" column="popular"/>
        <result property="orderNum" column="orderNum"/>
        <result property="description" column="description"/>
    </resultMap>

    <sql id="BASE_TABLE">
        t_tag
    </sql>

    <sql id="BASE_COLUMN">
        a.tid, a.tagName, a.popular, a.orderNum, a.description
    </sql>

    <select id="queryTagList" resultMap="TagResultMap">
        SELECT
        <trim suffix="" suffixOverrides=",">
            <include refid="BASE_COLUMN"></include>
        </trim>
        FROM <include refid="BASE_TABLE"></include> AS a
    </select>

    <insert id="addTag">
        INSERT INTO <include refid="BASE_TABLE"></include>
    </insert>

    <update id="updateTag">
        UPDATE <include refid="BASE_TABLE"></include>
        <set>

        </set>
    </update>

    <delete id="deleteTag">
        DELETE FROM <include refid="BASE_RABLE"></include>
        WHERE tid=#{tid}
    </delete>
</mapper>