<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 博主信息映射 -->
<mapper namespace="com.jax.blog.mapper.BloggerMapper">
    <resultMap id="BloggerResultMapper" type="com.jax.blog.model.Blogger">
        <id property="id" column="id" jdbcType="INT" />
        <result property="username" column="username" jdbcType="VARCHAR" />
        <result property="password" column="password" jdbcType="VARCHAR" />
        <result property="profile" column="profile" jdbcType="VARCHAR" />
        <result property="nickname" column="nickname" jdbcType="VARCHAR" />
        <result property="truename" column="truename" jdbcType="VARCHAR" />
        <result property="sign" column="sign" jdbcType="VARCHAR" />
        <result property="imagename" column="imagename" jdbcType="VARCHAR" />
    </resultMap>
    <select id="getBloggerById" resultMap="BloggerResultMapper">
        SELECT * FROM t_blogger WHERE id = #{id, jdbcType=INT}
    </select>
</mapper>